# Ignorar logs de Nginx y otros
logs/

# Ignorar caché de Python
backend/__pycache__/
backend/*.pyc

# Ignorar base de datos de Redis (si alguna vez mapeás la carpeta localmente)
redis-data/

# Ignorar variables de entorno secretas
.env

# Binarios de Kubernetes
k8s/kubectl
k8s/minikube-linux-amd64
# archivos pesados de terraform
terraform/.terraform/
terraform/*.tfstate*
